<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/l-blog.css">
</head>
<body>
<!--导航-->
{include file="common/nav"}

<!--轮播图-->
<div class="layui-carousel" id="repeat_img" style="display: none;">
    <div carousel-item>
        <div>条目1</div>
        <div>条目2</div>
        <div>条目3</div>
        <div>条目4</div>
        <div>条目5</div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-container">
        <div class="crumbs">
            <span class="layui-breadcrumb">
                <a href="">首页</a><a href="">国际新闻</a><a href="">亚太地区</a><a><cite>正文</cite></a>
            </span>
        </div>
        <div class="layui-col-space10">
            <div class="layui-col-md8">
                <!--文章-->
                <div class="panel">
                    <!--标题-->
                    <div class="layui-row">
                        <h1>标题标题标题标题标题标题标题标题标题标题标题</h1>
                    </div>
                    <!--信息-->
                    <div class="layui-row layui-col-space3">
                        <div class="layui-col-xs4">
                            <i class="layui-icon layui-icon-username">
                                <span>小戴</span>
                            </i>
                        </div>
                        <div class="layui-col-xs4">
                            <i class="layui-icon layui-icon-date">
                                <span class="article-time" data="1531926848000"></span>
                            </i>
                        </div>
                        <div class="layui-col-xs4">
                            <i class="layui-icon layui-icon-note">
                                <span>PHP</span>
                            </i>
                        </div>
                    </div>
                    <hr class="layui-bg-green">
                    <!--正文-->
                    <div class="layui-row">
                        正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文
                    </div>
                    <hr class="layui-bg-green">
                    <div class="layui-row">
                        <div class="layui-row"><span>上一篇：</span><a href="">123</a></div>
                        <div class="layui-row"><span>下一篇：</span><a href="">123</a></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="layui-row"><i class="layui-icon layui-icon-dialogue"><span>留言评论</span></i></div>
                    <hr class="layui-bg-green">
                    <div class="layui-row">
                        <div style="margin-bottom: 5px;">
                            <textarea class="layui-textarea" name="" placeholder="请输入评论"></textarea>
                        </div>
                        <div>
                            <button class="layui-btn" type="button">评论</button>
                        </div>
                    </div>
                    <!--留言记录-->
                    <div class="layui-row">
                        <div class="layui-row message">
                            <div class="layui-col-md1 layui-col-xs2 text-center">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            </div>
                            <div class="layui-col-md11 layui-col-xs10">
                                <div class="layui-row">
                                    <a href="">会飞的鱼鱼鱼鱼鱼鱼鱼鱼</a><span class="add-info">（福建 厦门）</span>
                                    <span class="article-time add-info" data="1400000000000"></span>
                                </div>
                                <div class="message-content">
                                    不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦
                                </div>
                            </div>
                        </div>
                        <div class="layui-row message">
                            <div class="layui-col-md1 layui-col-xs2 text-center">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            </div>
                            <div class="layui-col-md11 layui-col-xs10">
                                <div class="layui-row">
                                    <a href="">会飞的鱼鱼鱼鱼鱼鱼鱼鱼</a><span class="add-info">（福建 厦门）</span>
                                    <span class="article-time add-info" data="1400000000000"></span>
                                </div>
                                <div class="message-content">
                                    不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦
                                </div>
                            </div>
                        </div>
                        <div class="layui-row message">
                            <div class="layui-col-md1 layui-col-xs2 text-center">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            </div>
                            <div class="layui-col-md11 layui-col-xs10">
                                <div class="layui-row">
                                    <a href="">会飞的鱼鱼鱼鱼鱼鱼鱼鱼</a><span class="add-info">（福建 厦门）</span>
                                    <span class="article-time add-info" data="1400000000000"></span>
                                </div>
                                <div class="message-content">
                                    不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦
                                </div>
                            </div>
                        </div>
                        <div class="layui-row message">
                            <div class="layui-col-md1 layui-col-xs2 text-center">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            </div>
                            <div class="layui-col-md11 layui-col-xs10">
                                <div class="layui-row">
                                    <a href="">会飞的鱼鱼鱼鱼鱼鱼鱼鱼</a><span class="add-info">（福建 厦门）</span>
                                    <span class="article-time add-info" data="1400000000000"></span>
                                </div>
                                <div class="message-content">
                                    不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦
                                </div>
                            </div>
                        </div>
                        <div class="layui-row message">
                            <div class="layui-col-md1 layui-col-xs2 text-center">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            </div>
                            <div class="layui-col-md11 layui-col-xs10">
                                <div class="layui-row">
                                    <a href="">会飞的鱼鱼鱼鱼鱼鱼鱼鱼</a><span class="add-info">（福建 厦门）</span>
                                    <span class="article-time add-info" data="1400000000000"></span>
                                </div>
                                <div class="message-content">
                                    不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦不错呦
                                </div>
                            </div>
                        </div>
                        <div id="page">
                            <input type="hidden" id="count" value="50">
                            <input type="hidden" id="curr" value="1">
                            <input type="hidden" id="url" value="index.html">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <!--文章搜索-->
                <div class="panel layui-hide-xs">
                    <div class="layui-row">
                        <i class="layui-icon layui-icon-search">
                            <sapn>文章搜索</sapn>
                        </i>
                    </div>
                    <hr class="layui-bg-green">
                    <div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" placeholder="请输入关键字">
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn">搜索</button>
                        </div>
                    </div>
                </div>
                <!--热文推荐-->
                <div class="panel">
                    <div class="layui-row">
                        <i class="layui-icon layui-icon-fire"><span>热文推荐</span></i>
                    </div>
                    <hr class="layui-bg-green">
                    <div>
                        <ul class="right-list">
                            <li>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="">1111111111111111111111111111111111111111111111111111111111111111111111111</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--友情链接-->
                <div class="panel">
                    <div class="layui-row">
                        <i class="layui-icon layui-icon-link">
                            <sapn>友情链接</sapn>
                        </i>
                    </div>
                    <hr class="layui-bg-green">
                    <div>
                        <ul class="right-list">
                            <li>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="">1111111111111</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
{include file="common/footer"}

<!--登录-->
{include file="common/login"}

<!--注册-->
{include file="common/register"}
</body>
</html>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="__JS__/l-blog.js"></script>