body {
    background-color: #eeeeee;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-center {
    text-align: center;
}

.nav {
    background-color: rgb(57, 61, 73);
}

.layui-nav > .layui-nav-item > .logo {
    color: #FFF;
    font-size: 16px;
}

.login_icon {
    margin-bottom: 4px;
    vertical-align: middle;
}

.register_icon {
    margin-bottom: 3px;
}

.phone-nav {
    border-top: 1px solid rgb(95, 184, 120);
    width: 100%;
    display: none;
}

.panel {
    position: relative;
    background: #FFF;
    margin-top: 15px;
    padding: 10px;
}

.right-list {
    width: 100%;
}

.right-list > li {
    width: 95%;
    height: 18px;
    overflow: hidden;
}

h4 > a {
    font-size: 16px;
}

.article-title {
    word-break: break-all;
}

.article-info {
    margin: 10px 0 0 0;
}

.art_thu_img {
    display: inline-block;
    height: 159.25px;
}

.phone-article-info > i {
    font-size: 13px;
}

.read-btn {
    position: absolute;
    bottom: 13px;
    left: 13px;
}

.footer {
    background-color: rgb(57, 61, 73);
    margin-top: 10px;
    color: #FFFFFF;
}

.footer {
    padding: 15px 0;
}

.footer .admin-info div {
    margin: 5px 0;
}

.footer .admin-info div > a {
    display: block;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
}

.footer .admin-info div > i {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

.footer .admin-info {
    font-size: 15px;
    margin: 5px;
}

#phone-nav-cat {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}

#login_panel, #register_panel {
    padding: 10px 20px;
}

#login_panel .layui-row, #register_panel .layui-row {
    margin: 5px 0;
}

.sign-btn {
    width: 100%;
}

.layui-icon-login-qq {
    font-size: 36px;
    color: rgb(0, 176, 251);
}

.crumbs {
    margin-top: 15px;
}

.layui-icon > span {
    margin-left: 5px;
}

.message {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dotted #bbbbbb;
}

.message-content {
    color: #111111;
    padding-top: 10px;
    padding-right: 5px;
}

.add-info {
    display: inline-block;
    color: #888888;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #5FB878;
    transition: all .2s;
    -webkit-transition: all .2s;
}

#btn_captcha {
    width: 110px;
}

.c-nav-r-btn {
    display: inline-block;
    vertical-align: middle;
}

.c-nav-r-btn span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 20px;
    transform-origin: 20px;
    transition: background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease,transform .5s cubic-bezier(.77,.2,.05,1),width .5s;
}

.c-nav-r-btn span:nth-last-child(2) {
    transform: rotate(0);
    transition: width .5s ease;
}

.c-nav-r-btn span:last-child {
    margin-bottom: 0;
}

.c-nav-r-btn.toggle-animate span:nth-last-child(2) {
    width: 0;
    opacity: 0;
    transform: rotate(0);
    transition: width .5s;
}

.c-nav-r-btn.toggle-animate span:nth-last-child(3) {
    opacity: 1;
    transform: rotate(-45deg);
}

.c-nav-r-btn.toggle-animate span {
    opacity: 1;
    transform: rotate(45deg);
}