<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/l-blog.css">
</head>
<body>
<!--导航-->
{include file="common/nav"}

<!--轮播图-->
<div class="layui-carousel" id="repeat_img">
    <div carousel-item>
        <div style="background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1534331018953&di=e93c7e1aae50547d6ee1bb4c7b79dc1b&imgtype=0&src=http%3A%2F%2Fimg05.tooopen.com%2Fimages%2F20150820%2Ftooopen_sy_139205349641.jpg');background-size: cover;">
            <div class="layui-row">
                <h3 class="layui-col-xs5 layui-col-xs-offset4" style="margin-top: 10%;">呦呦呦</h3>
            </div>
        </div>
        <div style="background: url('http://www.shunxin66.com/static/upload/images/300x200/2018/07/1530803445A6OU0=.jpeg');background-size: cover;">
            <div class="layui-row">
                <h3 class="layui-col-xs5 layui-col-xs-offset4" style="margin-top: 10%;">呦呦呦</h3>
            </div>
        </div>
    </div>
</div>

<div class="layui-row">
    <div class="layui-container">
        <div class="layui-col-space10">
            <div class="layui-col-md8 layui-col-xs12" id="main">
                {include file="article/art_list"}
            </div>
            <div class="layui-col-md4 layui-col-xs12">
                <!--文章搜索-->
                <div class="panel layui-hide-xs">
                    <div class="layui-row">
                        <i class="layui-icon layui-icon-search">
                            <sapn>文章搜索</sapn>
                        </i>
                    </div>
                    <hr class="layui-bg-green">
                    <div>
                        <div class="layui-input-inline">
                            <input type="text" id="keyword" class="layui-input" placeholder="请输入关键字">
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" onclick="artSearch()">搜索</button>
                        </div>
                    </div>
                </div>
                <!--热文推荐-->
                {include file="common/hot"}
                <!--友情链接-->
                {include file="common/link"}
            </div>
        </div>
    </div>
</div>

<!--页脚-->
{include file="common/footer"}
</body>
</html>
<script src="__JS__/jquery.min.js"></script>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__JS__/common.js"></script>
<script src="__JS__/l-blog.js"></script>
<script>
    function artSearch() {
        let keyword = $('#keyword').val();
        getMainHtml('{:url("article/artList")}?title=' + keyword);
    }
</script>