<div style="display: none;" id="login_panel">
    <div class="layui-row">
        <div class="layui-row">
            <input class="layui-input" name="username" placeholder="用户名/邮箱">
        </div>
        <div class="layui-row">
            <input class="layui-input" name="password" placeholder="请输入密码">
        </div>
        <div class="layui-row">
            <button class="layui-btn sign-btn">登录</button>
        </div>
        <div class="layui-row">
            <a href="" class="right">忘记密码？</a><span class="right">&nbsp;&nbsp;</span>
            <a href="javascript:registerShow();" class="right">注册</a>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs4">
            <hr class="layui-bg-gray">
        </div>
        <div class="layui-col-xs4 text-center">
            其他登录方式
        </div>
        <div class="layui-col-xs4">
            <hr class="layui-bg-gray">
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs6 text-center"><a href="javascript:github();"><img src="__IMG__/github-black.svg"></a>
        </div>
        <div class="layui-col-xs6 text-center"><a href><i class="layui-icon layui-icon-login-qq"></i></a>
        </div>
    </div>
</div>
