<div style="display: none;" id="register_panel">
    <div class="layui-row">
        <div class="layui-row">
            <input class="layui-input" name="username" placeholder="邮箱">
        </div>
        <div class="layui-row">
            <div class="layui-col-xs7">
                <input class="layui-input" name="captcha" placeholder="请输入验证码">
            </div>
            <div class="layui-col-xs5">
                <img class="right" src="https://www.shunxin66.com/admin/index/captcha.html?0.4037379830904313"
                     style="height: 38px;width: 108px;">
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs7">
                <input class="layui-input" name="captcha" placeholder="请输入邮箱验证码">
            </div>
            <div class="layui-col-xs5">
                <button class="layui-btn layui-btn-primary right" type="button">获取验证码</button>
            </div>
        </div>
        <div class="layui-row">
            <button class="layui-btn sign-btn">注册</button>
        </div>
        <div class="layui-row">
            <a href="" class="right">忘记密码？</a><span class="right">&nbsp;&nbsp;</span>
            <a href="javascript:loginShow();" class="right">已有账号</a>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs4">
            <hr class="layui-bg-gray">
        </div>
        <div class="layui-col-xs4 text-center">
            其他登录方式
        </div>
        <div class="layui-col-xs4">
            <hr class="layui-bg-gray">
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs6 text-center"><a href="javascript:;"><img src="__IMG__/github-black.svg"></a>
        </div>
        <div class="layui-col-xs6 text-center"><a href><i class="layui-icon layui-icon-login-qq"></i></a>
        </div>
    </div>
</div>
